
* {
    box-sizing: border-box;
background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);
 }   


img {

    width: 110px;

    height: 110px;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);

}

.left {
	float: left;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);
}

span {
	margin: -0.5em 0 0 0;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);
}

.small {
	height: 2em;
	width: 2em;
	margin: -0.3em 0.5em 0 -0.5em;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);
}


body {
	border: 5px groove gray;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);

background: linear-gradient(#ffd24d 25%, #e6ac00 85%);
}
.header {
border: 5px groove gray;
}
.content {
	border: 5px groove gray;
}
menu {
	border: 5px groove gray;
}
footer {
	border: 5px groove gray;
}

body {
    width: 70%;
    height: 100%;
    margin: 3em auto;
    padding: 0;
}
.header {
    height: 8.5em;
}
.content {
    margin: 5px auto;
}
menu {
	margin: 0 auto;
	padding: 5px 10px;
	width: 100%;
}
footer {
    padding: 0.625em;
}

 .menu-img {
	display: flex;
	margin: auto;
}
menu {
	text-align: center;
}



